body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

header {
  background: #22668d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 120px;
  height: 80%;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logo_container {
  display: flex;
  align-items: center;
  width: 60vw;
  height: 80px;
  margin-left: 10px;
  cursor: pointer;
}

/* tool-tip */
.user_icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center !important;
  width: auto;
  margin-right: 20px;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 90%;
  right: 60%;
  margin-left: -50px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.2s;
}

.user_icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Style for the search icon */
.bi-search {
  color: #fff !important;
  transform: translateY(-50%);
  font-size: 1em !important;
}

/* user_icon dropdown */
.custom-dropdown-menu {
  position: absolute;
  left: 0;
  transform: translateX(-60%); /* Move the dropdown menu to the left */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  width: auto !important;
  padding:10px  25px;
}

.more {
  width: 100px;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: none;
}

.menu-path {
  width: 500px;
  display: flex;
  align-items: center;
  color: #fff;
}

.path {
  font-size: 18px;
  font-weight: 600;
  font-family: "poppins", sans-serif;
  padding: 8px;
  margin: 0;
}

.search-box {
  flex: 1;
}

.search-box input {
  width: 450px;
  padding: 5px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid whitesmoke;
  font-size: 16px;
  color: #fff;
}

.search-box input::placeholder {
  color: white;
  font-size: 16px;
}
/* Media queries for smaller screens */
@media (max-width: 1265px) {
  .menu-path {
    width: 50%; /* Adjust the width for smaller screens */
  }

  .search-box input {
    width: 80%; /* Take up less width on smaller screens */
  }
}

@media(max-width:1440px){
  .search-box input{
    width: 80%;
  }
}
@media(max-width:578px){
  .search-box {
    display: none;
  }
}
@media(max-width:330px){
  .path {
    display: none;
  }
}
@media (max-width: 576px) {
  .menu-path {
    width: 100%; /* Take up the full width on extra small screens */
  }

  .search-box input {
    width: 100%; /* Take up the full width on extra small screens */
  }
}