body, html {
  margin: 0;
  padding: 0;
}
.menu_show {
  margin: 0;
  padding: 0;
}
.no-spacing {
    margin-bottom: 0; 
  }
  .p-1{
    padding: 0px!important;
  }
  .gap-2{
    gap: 0!important;
  }
  .nav-link{
    padding: 8px !important;
  }
  .container-fluid{
padding: 0; 
border-bottom: 1px solid #d5d2d2; 
}



.a.nav-link.active,a.nav-link.toggle.active,a.crmDropdown.nav-link.toggle.active,a.accDropdown.nav-link.toggle.active a.DocDropdown.nav-link.toggle.active,a.BIzDropdown.nav-link.toggle.active,
  a.ProDropdown.nav-link.toggle.active,a.othersDropdown.nav-link.toggle.active{
  background-color: #22668d;
  color: white;
}
.nav-pills{
  --bs-nav-pills-link-active-bg:#22668d;
}
@media screen and (max-width: 585px) {
    .selected-menu{
      display: none!important;
    }
  }
  
  /* menubar grid for mobile size */
@media only screen and (max-width:1024px){
  ul.nav-pills {
    display: grid;
    grid-template-columns: auto auto auto auto  ;
    padding: 20px;
    margin-left: 30px;
  }
}
@media only screen and (max-width:768px){
  ul.nav-pills {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 10px 20px;
    margin-left: 30px;
  }
}
@media only screen and (max-width:425px){
  ul.nav-pills {
    display: grid;
    grid-template-columns: auto auto ;
    padding: 10px 10px;
    margin-left: 30px;
  }
}
/* .menu_box{
  padding-left: 10px;
} */

@media screen and (max-width: 1921px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding:10px 14px !important;
   font-size: 16px!important;
  }
} 
@media screen and (max-width: 1917px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding:10px 14px!important;
   font-size: 16px!important;
  }
} 
@media screen and (max-width: 1901px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding:10px 13px!important;
   font-size: 16px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1874px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 12px!important;
   font-size: 16px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1842px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 11px!important;
   font-size: 16px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1811px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 10px!important;
   font-size: 16px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1778px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 12px!important;
   font-size: 15px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1752px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 11px!important;
   font-size: 15px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1721px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 10px!important;
   font-size: 15px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1688px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 12px!important;
   font-size: 14px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1662px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 11px!important;
   font-size: 14px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1630px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 10px!important;
   font-size: 14px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1598px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 9px!important;
   font-size: 14px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1566px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 8px!important;
   font-size: 14px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1534px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 7px!important;
   font-size: 14px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1502px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 6px!important;
   font-size: 14px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1470px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 11px 5px!important;
   font-size: 14px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1438px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 4px!important;
   font-size: 14px!important;
  }
  .menu_box{
    padding-left: 15px!important;
  }
}
@media screen and (max-width: 1406px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 4px!important;
   font-size: 14px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1401px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 5px!important;
   font-size: 13.5px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1388px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 4px!important;
   font-size: 13.5px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1356px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 5px!important;
   font-size: 13px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1343px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 4.5px!important;
   font-size: 13px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1327px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 4px!important;
   font-size: 13px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1311px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 5px!important;
   font-size: 12.5px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1297px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 4.5px!important;
   font-size: 12.5px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1281px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 4px!important;
   font-size: 12.5px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1265px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 5px!important;
   font-size: 12px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1252px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 4.5px!important;
   font-size: 12px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1236px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 4px!important;
   font-size: 12px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1220px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 5px!important;
   font-size: 11.5px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}
@media screen and (max-width: 1207px) {
  a.nav-link,a.nav-link.toggle,a.crmDropdown.nav-link.toggle,a.accDropdown.nav-link.togglea.DocDropdown.nav-link.toggle,a.BIzDropdown.nav-link.toggle,
  a.ProDropdown.nav-link.toggle,a.othersDropdown.nav-link.toggle{
   padding: 10px 4.6px!important;
   font-size: 11.5px!important;
  }
  .menu_box{
    padding-left: 10px!important;
  }
}

.menu_show{
  /* background-color: #d2d0d0; */
font-size: medium;
font-weight: 500;
width: 100%;
}
.selected-content.container-fluid.mt-3{
  margin: 0px!important;
}